<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Star Wars Characters</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Star Wars Characters</h1>
    <form method="post" action="/">
        <label for="json-dropdown">Select your Difficulty:</label>
        <select name="json-dropdown" id="json-dropdown">
            <option value="sw_easy">Padawan (Beginner)</option>
            {% if show_med_level %}
            <option value="sw_mid">Jedi Knight (Intermediate)</option>
            {% endif %}
            <option value="swapi_characters2">Jedi Master (Advanced)</option>
        </select>
        <p>
            <label for="attribute-dropdown">Select your question type:</label>
            <select name="attribute-dropdown" id="attribute-dropdown">
                <option value="homeworld">Homeworld</option>
                <option value="species">Species</option>
            </select>
        </p>
        <button type="submit">Load</button>
    </form>
</body>
</html>
